[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/volk"]
	path = thirdparty/volk
	url = https://github.com/zeux/volk
[submodule "thirdparty/vulkan"]
	path = thirdparty/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/implot"]
	path = thirdparty/implot
	url = https://github.com/epezent/implot
